<div class="container">
    <span class="badge ">Вид экономической деятельности: <s class="okved-req">*</s></span>
    </br>
    <span class="badge "> Введите название экономич деятельности: </span>
    <input class="form-control-sm" id="input_okvedId1" type="text" placeholder="Введите не менее двух символов"><br>
    <select class="custom-select custom-select-sm" id="request_okvedId1" name="request.okvedId" size="10" aria-hidden='true' tabindex="-1" aria-hidden="true" style="display: none;">

    </select>
</div>